// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable ColorVariable
// scss-lint:disable ColorKeyword
// scss-lint:disable Indentation
//

$init-loader-color: $orange;
//
@mixin theme-dark {
    //
    // layout
    background-color: #111;

    .nav--main {
        border-right: 1px solid #010101;
    }

    #main {
        background-color: #131313;
    }

    #mask {
        background-color: #111;
        background-blend-mode: multiply;

        &::after {
            background-color: #000;
        }
    }

    // components
    .btn--nav {
        color: #555;

        &.btn--selected {
            color: $orange;
        }

        &:hover {
            color: $orange;
        }
    }

    #logo {
        background-blend-mode: multiply;
    }

    #search {
        background-color: #090909;
        box-shadow: inset 0 -1px 1px #222;
        // color: #555;
    }

    ::-webkit-input-placeholder {
        color: #555;
    }

    #overlay {
        background-color: #222;
    }

    #player {
        progress {
            &::-webkit-progress-bar {
                //
            }

            &::-webkit-progress-value {
                background-color: $orange;
            }
        }
    }

    ::-webkit-scrollbar-thumb {
        background-color: #191919;
    }

    .btn--player {
        color: #555;

        &:hover {
            color: $orange;
        }
    }

    .btn--style-1 {
        color: darkgray;

        &.btn--selected {
            color: $orange;

            &:hover {
                color: $orange;
            }
        }

        &:hover {
            color: #666;
        }
    }

    .btn--player-icon {
        color: #555;

        &:hover {
            color: $orange;
        }
    }

    .btn--nav {
        //
    }

    .list {
        &:not(:empty):not(.no-results) .list__item:hover {
            .list__track-title {
                color: $orange;
            }
        }

        &__item {
            &:hover {
                background-color: #191919;
            }

            .list__thumbnail {
                background-color: #111;
            }

            &.list__item--no-artwork {
                &:hover {
                    .list__thumbnail {
                        background-color: $orange;
                    }

                    .list__playing-animation {
                        color: #fff;
                    }
                }
            }
        }

        &__item--selected {
            background-color: #151515;
            border-bottom-color: #252525;

            .list__thumbnail {
                background-color: #666;
            }

            &.list__item--no-artwork .list__thumbnail {
                background-color: $orange;
            }
        }

        &__list {
            text-shadow: 0 1px 2px #000;
        }

        &__track-meta {
            color: #444;
        }
    }

    .list__track-title {
        color: #818181;
    }

    .playing {
        .header {
            color: #555;
        }

        &__title {
            color: #fff;
        }

        &__artist {
            color: #555;
        }
    }
}

.body--theme-dark {
    @include theme-dark;
}
