// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable ColorVariable
// scss-lint:disable ColorKeyword
// scss-lint:disable Indentation
// scss-lint:disable MergeableSelector

$init-loader-color: $spotify-green;
//
.theme-dark {
    .nav--main {
        border-right: 1px solid #010101;
    }

    #main {
        background-color: #131313;
    }

    #overlay {
        background-color: #222;
    }

    #mask {
        background-color: #111;
        background-blend-mode: multiply;

        &::after {
            background-color: #000;
        }
    }

    // components
    .component {
        &__header {
            color: #555;
        }
    }

    #logo {
        background-blend-mode: multiply;
    }

    #search {
        background-color: #090909;
        color: #fff;
        box-shadow: inset 0 -1px 1px #222;
    }

    ::-webkit-input-placeholder {
        color: #555;
    }

    progress::-webkit-progress-value {
        background-color: $spotify-green;
    }

    progress::-webkit-progress-bar {
        background-color: rgba(0, 0, 0, .5);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #191919;
    }

    .btn--nav {
        color: #555;

        &:hover {
            color: $spotify-green;
        }
    }

    .btn--selected {
        color: $spotify-green;
    }

    .btn--player {
        color: #555;

        &:hover {
            color: $spotify-green;
        }
    }

    .btn--player-icon {
        color: #555;

        &:hover {
            color: $spotify-green;
        }
    }

    .list {
        &.no-results {
            color: #555;
            background-color: transparent;
        }
    }

    .item {
        &:hover {
            background-color: #191919;

            .item__title {
                color: $spotify-green;
            }
        }
    }

    // item elements
    .item {
        &__thumbnail {
            background-color: #111;
        }

        &__data {
            text-shadow: 0 1px 2px #000;
        }

        &__meta {
            color: #444;
        }

        &__title {
            color: #818181;
        }

        &__tag {
            color: #fff;
            background-color: #000;
        }
    }

    // item modifiers
    .item--no-artwork {
        &:hover {
            .item__thumbnail {
                background-color: $spotify-green;
            }
        }
    }

    .item--selected {
        background-color: #151515;
        border-bottom-color: #252525;

        .item__thumbnail {
            background-color: #666;
        }

        &.item--no-artwork {
            .item__thumbnail {
                background-color: $spotify-green;
            }
        }
    }

    .playing {
        &__title {
            color: #fff;
        }

        &__artist {
            color: #555;
        }
    }
}
