// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable ColorVariable
// scss-lint:disable ColorKeyword
// scss-lint:disable Indentation
//

$init-loader-color: #84bd00;
//
@mixin theme-spotify {
     @include theme-dark;

    .btn--nav {
        &.btn--selected {
            color: #84bd00;
        }

        &:hover {
            color: #84bd00;
        }
    }

    #menu {
        &:hover {
            .dot,
            .dot:after,
            .dot:before {
                background-color: #84bd00;
            }
        }
    }

    // components

    .loader2 {
        border-top-color: #84bd00;
        //
        @at-root {
            .list__item--no-artwork {
                .loader2 {
                    border-color: rgba(255, 255, 255, .15);
                    border-top-color: #fff;
                }
            }
        }
    }

    .btn {
        &.btn--player {
            &:hover {
                color: #84bd00;
            }
        }

        &.btn--style-1 {
            &.btn--selected {
                color: #84bd00;

                &:hover {
                    color: #84bd00;
                }
            }
        }

        &.btn--player-icon {
            &:hover {
                color: #84bd00;
            }
        }
    }

    #player {
        progress {
            &::-webkit-progress-bar {
                background-color: rgba(0, 0, 0, .5);
            }

            &::-webkit-progress-value {
                background-color: #84bd00;
            }
        }
    }

    .list {
        &:not(:empty):not(.no-results) .list__item:hover {
            .list__track-title {
                color: #84bd00;
            }
        }

        &__item {
            &.list__item--no-artwork {
                &:hover {
                    .list__thumbnail {
                        background-color: #84bd00;
                    }
                }
            }
        }

        &__item--selected {
            &.list__item--no-artwork .list__thumbnail {
                background-color: #84bd00;
            }
        }
    }
}

.theme-spotify {
    @include theme-spotify;
}
