doctype html
html(lang="en")
    head
        title="Litecloud"
        meta(charset="utf-8")
        link(rel="stylesheet" href="assets/css/styles.css")
    body
        #root
        script(src="assets/js/bundle.js")
