doctype html
html(lang="en")
    head
        title="Litecloud"
        meta(charset="utf-8")
        link(rel="stylesheet" href="assets/css/styles.css")
    body(id="body" class="body show-loader show-grid")
        nav(id="titlebar")
            div(id="logo")
            div(id="title") Litecloud
            div(id="titlebar-btns")
                button(id="minimize" class="btn btn--titlebar")
                button(id="maximize" class="btn btn--titlebar")
                button(id="terminate" class="btn btn--titlebar close rounded")
        nav(id="nav-right" class="nav")
            button(id="toggleYoutube" class="btn btn--nav btn--solo-icon center block" disabled)
                i(class="icon material-icons") subscriptions
            button(id="toggleSettings" class="btn btn--nav btn--solo-icon center block" disabled)
                i(class="icon material-icons") settings
            button(id="toggleMute" class="btn btn--nav btn--solo-icon center block")
                i(class="icon material-icons") volume_up
            button(id="addToPlaylist" class="btn btn--nav btn--solo-icon center block" disabled)
                i(class="icon material-icons") playlist_add
            button(id="toggleRepeat" class="btn btn--nav btn--solo-icon center block")
                i(class="icon material-icons") repeat
            button(id="toggleShuffle" class="btn btn--nav btn--solo-icon center block")
                i(class="icon material-icons") shuffle
            button(id="toggleGrid" class="btn btn--nav btn--solo-icon center block")
                i(class="icon material-icons") view_headline
            button(id="replay" class="btn btn--nav btn--solo-icon center block")
                i(class="icon material-icons") autorenew
            button(id="addToFavorites" class="btn btn--nav btn--solo-icon center block" disabled)
                i(class="icon material-icons") favorite_border
        nav(id="nav" class="nav")
            input(id="search" placeholder="...")
            div(id="playing" class="playing")
                h2(class="playing__header") playing now
                div(id="playing-thumbnail" class="playing__thumbnail")
                div(id="playing-description" class="playing__description")
                    div(id="playing-title" class="playing__title")
                    div(id="playing-artist" class="playing__artist")
            div(id="player")
                audio(id="audio" type="audio/mpeg")
                // https://developer.mozilla.org/en/docs/Web/HTML/Element/progress
                progress(id="progress" max="100")
                nav(class="nav nav--player")
                    i(id="player-previous" class="btn btn--player material-icons") skip_previous
                    i(id="player-playPause" class="btn btn--player material-icons") play_arrow
                    i(id="player-next" class="btn btn--player material-icons") skip_next
        main(id="main")
            section(id="list" class="list")
        div(id="loader")
        div(id="overlay")
        div(id="mask")
        script(src="assets/js/renderer.js")
