/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorKeyword */
/* scss-lint:disable ColorVariable */
// order matters!
// @import 'vendor/hamburgers/hamburgers';
// font-awesome
@import 'vendor/font-awesome/font-awesome';
// spinkit
@import '../../node_modules/spinkit/scss/spinners/3-wave';
// icono
// @import '../../node_modules/icono/sass/variables';
// @import '../../node_modules/icono/sass/mixins';
// @import '../../node_modules/icono/sass/functions';
// @import '../../node_modules/icono/sass/generals';
// @import '../../node_modules/icono/sass/icons/headphone';
// loader
@import 'scrollbar';
@import 'loader';
@import 'init-loader';
@import 'list';
@import 'playing';

// replaced simplebar with native webkit scrollbar css
// .simplebar-track .simplebar-scrollbar {
//     background-color: #333;
// }

#logo {
    @extend %display-block;
    @extend %auto-horizontal-margin;
    width: to-rem(50);
    height: to-rem(50);
    border-radius: 50%;
    margin-bottom: to-rem(15);
    background-image: url('../images/logo.png');
    background-size: cover;
    background-color: #fff; // serves as a placeholder while logo loads
    // background-color: #090909; // serves as a placeholder while logo loads
    box-sizing: content-box;
    background-blend-mode: hard-light;
}

#search {
    @extend %full-width;
    @extend %display-block;
    @extend %no-outline;
    padding-left: to-rem(15);
    padding-right: to-rem(15);
    border-width: 0;
    border-radius: to-rem(30);
    line-height: $search-line-height;
    margin-bottom: to-rem(20);
}

::-webkit-input-placeholder {
    //
}

.list {
    user-select: none;
}

button {
    &:not(.btn) {
        @extend %cursor-pointer;
    }
}

i,
span {
    &.btn {
        @extend %display-inline-block;
    }
}

%clear-btn {
    background-color: transparent;
    border-width: 0;
}

%btn--style-1 {
    @extend %no-outline;
    @extend %clear-btn;
}

.btn {
    @extend %cursor-pointer;
    @extend %uppercase;
    font-style: normal;
    transition: color .2s;

    &.btn--clear {
        @extend %clear-btn;
    }

    &.btn--style-1 {
        @extend %btn--style-1;
    }

    &.btn--player {
        @extend %clear-btn;
        @extend %no-outline;
        font-size: to-rem(45);
        vertical-align: middle;
        text-shadow: 0 1px 1px #818181;
    }

    &.btn--nav {
        @extend %btn--style-1;
        @extend %full-width;
        line-height: 2rem;
        text-align: left;

        .icon {
            vertical-align: top;
            padding-right: 5px;
        }
    }
}

// inspiration: http://tobiasahlin.com/demo/animated-menu/
#menu {
    @extend %clear-btn;
    @extend %float-left;
    @extend %no-outline;
    @include transform-style(preserve-3d);
    height: to-rem(32);
    padding-right: to-rem(15);

    .dot {
        @extend %display-block;
    }
}

#mask {
    @include position-args(top 0 right 0 bottom 0 left 0);
    background-size: cover;
    background-blend-mode: color;

    &::after {
        @extend %display-none;
        @extend %no-content;
        @include position-args(top 0 right 0 bottom 0 left 0);
        position: inherit;
        backface-visibility: inherit;
        transform: inherit;
        opacity: .85;
    }
}

// ref: http://tympanus.net/Development/DotNavigationStyles/
// ref: https://codepen.io/sebj54/pen/shdHw
.dot,
.dot:after,
.dot:before {
    width: to-rem(4);
    height: to-rem(4);
    border-radius: 50%;
}

.dot {
    @extend %position-relative;

    &:after,
    &:before {
        @extend %no-content;
        @extend %position-absolute;
        left: 0;
    }

    &:before {
        top: to-rem(10);
    }

    &:after {
        bottom: to-rem(10);
    }
}
