/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorKeyword */
/* scss-lint:disable ColorVariable */
// order matters!
// @import 'vendor/hamburgers/hamburgers';
// font-awesome
@import 'vendor/font-awesome/font-awesome';
// spinkit
@import '../../node_modules/spinkit/scss/spinners/3-wave';
// icono
// @import '../../node_modules/icono/sass/variables';
// @import '../../node_modules/icono/sass/mixins';
// @import '../../node_modules/icono/sass/functions';
// @import '../../node_modules/icono/sass/generals';
// @import '../../node_modules/icono/sass/icons/headphone';
// loader
@import 'scrollbar';
@import 'close';
@import 'loader';
@import 'init-loader';
@import 'list';
@import 'playing';
@include close(to-rem(20), to-rem(20), #555, $hover-color);

#minimize {
    @include dim(to-rem(20));
    position: relative;
    overflow: hidden;
    outline: 0;

    &::before {
        content: '';
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        margin-bottom: 3px;
        border-radius: 5px;
        background-color: #555;
        width: calc(100% - #{to-rem(2)});
    }

    &:hover {
        &::before {
            background-color: $hover-color;
        }
    }
}

#maximize {
    @include dim(to-rem(16));
    border: 2px solid #555;
    border-radius: 50%;
    margin-top: 2px;

    &:hover {
        border-color: $hover-color;
    }
}

#logo {
    @extend %display-inline-block;
    @extend %cursor-default;
    margin-left: to-rem(10);
    width: to-rem(20);
    height: to-rem(20);
    border-radius: 50%;
    background-image: url('../images/logo.png');
    background-size: cover;
    background-color: #fff; // serves as a placeholder while logo loads
    // background-color: #090909; // serves as a placeholder while logo loads
    box-sizing: content-box;
    background-blend-mode: hard-light;
    vertical-align: top;
}

#title {
    @extend %display-inline-block;
    @extend %cursor-default;
    font-family: 'Montserrat-MediumItalic';
    padding-left: to-rem(10);
    font-size: to-rem(12);
    color: #555;
}

#title-bar-btns {
    @extend %float-right;
    margin-right: to-rem(10);
}

#search {
    @extend %full-width;
    @extend %display-block;
    @extend %no-outline;
    padding-left: to-rem(15);
    padding-right: to-rem(15);
    border-width: 0;
    border-radius: to-rem(30);
    line-height: $search-line-height;
    margin-bottom: to-rem(20);
}

::-webkit-input-placeholder {
    //
}

.list {
    user-select: none;
}

button {
    &:not(.btn) {
        @extend %cursor-pointer;
    }
}

i,
span {
    &.btn {
        @extend %display-inline-block;
    }
}

%clear-btn {
    background-color: transparent;
    border-width: 0;
}

.btn {
    @extend %cursor-pointer;
    @extend %uppercase;
    @extend %no-outline;
    font-style: normal;
    transition: color .2s;

    &--clear {
        @extend %clear-btn;
    }

    &--title-bar {
        background-color: transparent;
        border-width: 0;
        vertical-align: top;
        margin-left: 5px;
    }

    &--player {
        @extend %clear-btn;
        @extend %no-outline;
        font-size: to-rem(45);
        vertical-align: middle;
        text-shadow: 0 1px 1px #818181;
    }

    &--nav {
        @extend %clear-btn;
        @extend %full-width;
        line-height: 2rem;
        text-align: left;

        .icon {
            vertical-align: top;
            padding-right: 5px;
        }
    }
}

// inspiration: http://tobiasahlin.com/demo/animated-menu/
#menu {
    @extend %clear-btn;
    @extend %float-left;
    @extend %no-outline;
    @include transform-style(preserve-3d);
    height: to-rem(32);
    padding-right: to-rem(15);

    .dot {
        @extend %display-block;
    }
}

#mask {
    @include position-args(top 0 right 0 bottom 0 left 0);
    background-size: cover;
    background-blend-mode: color;

    &::after {
        @extend %display-none;
        @extend %no-content;
        @include position-args(top 0 right 0 bottom 0 left 0);
        position: inherit;
        backface-visibility: inherit;
        transform: inherit;
        opacity: .85;
    }
}

// ref: http://tympanus.net/Development/DotNavigationStyles/
// ref: https://codepen.io/sebj54/pen/shdHw
.dot,
.dot:after,
.dot:before {
    width: to-rem(4);
    height: to-rem(4);
    border-radius: 50%;
}

.dot {
    @extend %position-relative;

    &:after,
    &:before {
        @extend %no-content;
        @extend %position-absolute;
        left: 0;
    }

    &:before {
        top: to-rem(10);
    }

    &:after {
        bottom: to-rem(10);
    }
}
