/* scss-lint:disable Compass::PropertyWithMixin */
// material design icons
@import '../../node_modules/material-design-icons/iconfont/material-icons.css';
// Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url('../fonts/Montserrat/Montserrat-Mediumitalic.ttf');
    font-weight: 300;
    font-style: normal;
}
