/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorKeyword */
/* scss-lint:disable ColorVariable */
/* scss-lint:disable HexNotation */
/* scss-lint:disable MergeableSelector */
// https://codepen.io/martinvd/pen/xbQJom

// $init-loader-color: #efeffa;

.init-loader {
    position: absolute;
    top: calc(50% - #{$global-loader-size} / 2);
    left: calc(50% - #{$global-loader-size} / 2);
    width: $global-loader-size;
    height: $global-loader-size;
    border-radius: 50%;
    // perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0;
    top: 0;
    border-bottom: 3px solid $init-loader-color;
}

.inner.two {
    right: 0;
    top: 0;
    border-right: 3px solid $init-loader-color;
}

.inner.three {
    right: 0;
    bottom: 0;
    border-top: 3px solid $init-loader-color;
}

.body--show-loader {
    //
    .inner {
        &.one {
            animation: rotate-one 1s linear infinite;
        }

        &.two {
            animation: rotate-two 1s linear infinite;
        }

        &.three {
            animation: rotate-three 1s linear infinite;
        }
    }
}
//
@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
