// scss-lint:disable Compass::PropertyWithMixin
//
// MAIN COMPONENTS
//
html {
    @extend %full-height;
    font-size: unquote($root-font-scale + '%');
    line-height: $root-line-height; // vertical-rhythm - http://webtypography.net/2.2.2
}

body {
    @extend %overflow-hidden;
    @extend %no-user-select;
    @extend %no-padding;
    @extend %no-margin;
}

//
// POSITIONING
//
#mask,
#overlay {
    @extend %fixed;
    @extend %translate3d-hack;
}

#mask {
    z-index: 0;

    @include pseudo ('after') {
        z-index: 1;
    }
}

#overlay {
    z-index: 3;
}

#loader {
    z-index: 4;
}
