/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorVariable */
/* scss-lint:disable ColorKeyword */

html {
    @extend %full-height;
    font-size: unquote($root-font-scale + '%');
    // vertical-rhythm, ref: http://webtypography.net/2.2.2
    line-height: 1.5em;
    //
    @media screen and (max-width: 600px) {
        font-size: unquote($root-font-scale - 17 + '%');
    }
}

body {
    @extend %no-margin;
    @extend %no-padding;
    @extend %overflow-hidden;
}

body,
input,
optgroup,
select,
textarea {
    font-family: $font-family;
}

// override normalize
button {
    font-family: 'Montserrat';
}

// header {
//     @extend %full-width;
//     transition: padding .2s;
//     left: 0;
//     top: 0;
//     padding: to-rem(15) to-rem(12);
//     opacity: .985;
//
//     &.header--new-style {
//         padding: 0;
//         border-width: 0;
//
//         #player {
//             padding: to-rem(15) to-rem(35) 0;
//         }
//
//         #search {
//             border-radius: 0;
//             border-width: 0;
//         }
//     }
// }

main {
    @extend %overflow-auto;
    @extend %full-height;
    width: $app-width;
    transform: translate3d(to-rem(300), 0 , 0);
}

.nav {
    &--main {
        @extend %full-height;
        @extend %no-user-select;
        width: to-rem(300);
        padding: to-rem(20);
        padding-top: to-rem(35);
        border-radius: 0 4px 0 0;
        transition: transform .5s;
        box-shadow: inset -1px 0 0 #141414;
    }

    &--player {
        text-align: center;
    }
}

#overlay {
    @extend %display-none;
    @extend %full-width;
    @include position-args(top 0 right 0 bottom 0 left 0);
}
