/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorKeyword */
/* scss-lint:disable ColorVariable */

.no-results {
    .list__item {
        text-align: center;
    }
}

.list {
    padding-top: to-rem(35);
    padding-bottom: to-rem(35);
    margin-left: to-rem(20);
    margin-right: to-rem(20);

    &:not(:empty) {
        list-style-type: none;

        &:not(.no-results) {
            .list__item {
                @extend %cursor-pointer;
            }
        }
    }

    &__item {
        @extend %clearfix;
        @extend %uppercase;
        padding-right: to-rem(35);
        transition: padding .2s;

        &:hover {
            .list__list {
                margin-top: to-rem(10);
            }
        }

        &:not(:first-child) {
            margin-top: to-rem(35);
        }

        &.list__item--no-artwork {
            .list__icon {
                @include vertical-align;
                $size: 70px;
                width: $size;
                height: $size;
                background-size: $size $size;
                background-image: url('../images/ic_album_black_48px.svg');
                display: block;
                margin: 0 auto;
                opacity: .45;
            }

            .list__thumbnail {
                image-rendering: auto;
            }

            &:hover {
                .list__icon {
                    opacity: .5;
                }
            }
        }
    }

    &__thumbnail {
        @extend %float-left;
        height: $thumbnail-size;
        width: $thumbnail-size;
        margin-right: 20px;
        text-decoration: none;
        background-size: cover;
        transition: background-color .2s, background-blend-mode .2s;
        image-rendering: -webkit-optimize-contrast;
    }

    &__item--selected {
        padding-top: to-rem(10);
        padding-bottom: to-rem(10);
        padding-left: to-rem(10);
        border-bottom-width: 1px; // experimental
        border-bottom-style: solid; // experimental

        &:hover {
            .list__list {
                margin-top: 0;
            }
        }

        &.list__item--no-artwork .list__icon {
            display: none; // do not use @extend here
        }

        .list__playing-animation-wrapper {
            @extend %display-block;
            height: inherit;
        }

        .list__thumbnail {
            @extend %position-relative;
            background-blend-mode: multiply;
        }

        .list__list {
            margin-top: 0;
        }
    }

    &__list {
        @extend %overflow-hidden; // prevents content wrap around
        list-style-type: none;
        transition: margin-top, .1s;
        //
        @media screen and (max-width: 600px) {
            font-size: to-rem(16);

            .list__truncated {
                font-size: 0;
            }
        }
    }

    &__truncated {
        font-size: 0;
    }

    &__playing-animation-wrapper {
        @extend %display-none;
    }

    &__playing-animation {
        position: relative;
        display: block;
        transform: translateY(50%);
        top: calc(50% - #{$playing-animation-size / 2});
        left: calc(50% - #{$playing-animation-size / 2});
        width: $playing-animation-size;
        height: $playing-animation-size;
    }

    &__tag {
        @extend %display-none;
        @extend %white-space-nowrap;
        @extend %overflow-hidden;
        @extend %text-overflow-ellipsis;
        position: absolute;
        right: 0;
        top: to-rem(7);
        padding-left: to-rem(5);
        padding-right: to-rem(5);
        border-radius: to-rem(2) 0 0 to-rem(2);
        max-width: 70%;
    }
}

small {
    font-size: 100%;

    &:not(:last-child):after {
        content: ' – ';
    }
}
