/* scss-lint:disable all */
// ref: https://css-tricks.com/html5-progress-element/

#player {
    margin-top: to-rem(16);
    //
    &:not(.hidden) {
        + #search {
            margin-top: to-rem(10);
        }
    }

    // progress:not([value]) {
    progress {
        @extend %display-block;
        @extend %full-width; // override user-agent
        @extend %cursor-pointer;
        box-shadow: inset 0 -to-rem(1) to-rem(1) #222;
        -webkit-appearance: none;
        appearance: none;
        height: to-rem(6);
        // transition: height .3s;
        border-radius: to-rem(2);

        &::-webkit-progress-bar {
            border-radius: to-rem(2);
            transition: width .2s;
        }

        &::-webkit-progress-value {
            border-radius: to-rem(2);
            background: linear-gradient(to top, rgba(0,0,0,1) 10%, rgba(132,189,0,1) 100%);
        }
    }

    // .pause {}
    // .stop {}
    // .volume-plus {}
    // .volume-minus {}
    // .mute {}
    // .unmute {}
    // .replay {}

    .nav--player {
        margin-top: to-rem(10);
    }
}
