// scss-lint:disable Compass::PropertyWithMixin
// bof: https://necolas.github.io/normalize.css/
// @import 'node_modules/normalize.css/normalize';
// eof: https://necolas.github.io/normalize.css/
// https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
// https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
