/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorVariable */
/* scss-lint:disable ColorKeyword */
//
body {
    &.body--animate-mask {
        .mask {
            transition: background-image .8s;
        }
    }

    &.body--show {
        &-mask {
            .mask {
                /* scss-lint:disable VendorPrefix */
                -webkit-filter: blur(50px);
                /* scss-lint:enable VendorPrefix */
                &:after {
                    @extend %display-block;
                }
            }
        }

        &-menu {
            .nav--footer {
                @extend %display-block;
                transform: translateX(100%);
            }
        }

        &-playing {
            .playing {
                @extend %display-block;
            }
        }

        &-loader,
        &-player-loader {
            @extend %overflow-hidden;
        }

        &-loader {
            .loader--global,
            .loader--global-wave {
                @extend %display-block;
            }

            .overlay {
                @extend %display-block;
            }
        }

        &-player-loader {
            .player {
                @extend %position-relative;
                visibility: visible !important;
            }

            .loader--player {
                @extend %display-block;
            }
        }

        &-grid-view {
            .list {
                @extend %display-flex;
                padding-top: 0;
                flex-wrap: wrap;
                justify-content: space-between;

                // override
                &:not(:empty):not(.no-results) {
                    .list__item {
                        text-decoration: none;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }

            .list__item {
                @extend %no-user-select;
                @extend %lowercase;
                font-size: 14px;
                width: $large-thumbnail-size;
                padding-right: 0;
                padding-left: 0;
                margin-top: to-rem(35);
                margin-left: to-rem(15);
                margin-right: to-rem(15);
                line-height: 1rem;

                &:hover {
                    background-color: transparent;

                    .list__thumbnail {
                        background-blend-mode: screen;
                    }
                }

                .list__thumbnail {
                    @extend %position-relative;
                    @extend %float-none;
                    margin-right: 0;
                    border-radius: 2px;
                }

                &--selected {
                    padding-top: 0;
                    padding-bottom: 0;
                    border-bottom-width: 0;
                    background-color: transparent;

                    &:hover {
                        .list__thumbnail {
                            background-blend-mode: multiply;
                        }
                    }

                    .list__thumbnail {
                        // "playing now"
                        &:after {
                            line-height: $large-thumbnail-size;
                            font-size: 1rem;
                        }
                    }
                }

                &.list__item--no-artwork {
                    //
                    .list__thumbnail {
                        @extend %display-block;
                        width: inherit;
                        height: $large-thumbnail-size;
                    }

                    .list__truncated {
                        //
                        @media screen and (max-width: 600px) {
                            //
                        }
                    }

                    .list__icon {
                        $size: 100px;
                        width: $size;
                        height: $size;
                        background-size: #{$size $size};
                    }
                }
            }

            .list__list {
                @extend %position-relative;
                overflow: visible;
                height: to-rem(90);
                padding-top: to-rem(10);

                li:last-child {
                    @extend %position-absolute;
                    @extend %full-width;
                    bottom: 0;
                    line-height: .58rem;
                }
            }

            .list__track-title {
                @include ellipsis(2);
            }

            small {
                @extend %display-inline-block;

                &:after {
                    @extend %content-empty;
                }
            }

            .list__track-meta {
                //
            }

            .list__track-author {
                @extend %text-overflow-ellipsis;
                @extend %white-space-nowrap;
                width: to-rem(100);
                font-size: to-rem(12);
            }

            .list__track-duration {
                @extend %float-right;
            }

            .list__playing-animation {
                top: calc(50% - #{$large-playing-animation-size / 2});
                left: calc(50% - #{$large-playing-animation-size / 2});
                width: $large-playing-animation-size;
                height: $large-playing-animation-size;
            }

            .list__thumbnail {
                @extend %display-block;
                width: inherit;
                height: $large-thumbnail-size;
            }

            .list__tag {
                @extend %display-block;
            }
        }
    }
}
