/* scss-lint:disable ColorKeyword */
// COLORS
// https://dribbble.com/shots/2108401-Improved-Spotify-Green
$orange: #f50 !default;
$moroccan-blue: #0e4a64 !default;
$spotify-green: #84bd00 !default;
// APP
$root-font-scale: 100 !default; // 100% = cross-browser 16px; unit: percent, ref: http://pxtoem.com/
$root-font-size: 16 * $root-font-scale / 100;
$sidebar-width: to-rem(300);
$app-width: calc(100% - #{$sidebar-width}) !default;
$title-bar-height: to-rem(40) !default;
$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;
$font-family-bold: 'Montserrat-Medium';
$thumbnail-size: 135px !default;
$large-thumbnail-size: 195px !default;
$playing-animation-size: to-rem(32) !default;
$large-playing-animation-size: to-rem(48) !default;
$playing-thumbnail-size: to-rem(260) !default;
$global-loader-size: to-rem(112) !default;
$search-line-height: to-rem(34) !default;
$header-vertical-padding: to-rem(10 * 2) !default;
$header-height-expression: unquote("2.5rem + #{$header-vertical-padding} + 2px") !default;
$header-height: calc(#{$header-height-expression}) !default;
$main-padding-top: calc(#{$header-height-expression} + 1rem) !default;
$init-loader-color: plum !default;
$hover-color: $spotify-green !default;

// FONT-AWESOME
// $fa-font-path: !default;
