/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorVariable */
/* scss-lint:disable ColorKeyword */

html {
    @extend %full-height;
    font-size: unquote($root-font-scale + '%');
    line-height: 1.5em; // vertical-rhythm; http://webtypography.net/2.2.2
}

body {
    @extend %no-margin;
    @extend %no-padding;
    @extend %overflow-hidden;
}

#nav,
main {
    height: calc(100% - #{$title-bar-height});
}

#nav {
    @extend %full-height;
    @extend %no-user-select;
    width: $sidebar-width;
    padding: to-rem(35) to-rem(20) to-rem(20);
    transform: translate3d(0, $title-bar-height, 0);
    border-right: 1px solid;
}

main {
    @extend %overflow-auto;
    @extend %full-height;
    width: $main-width;
    transform: translate3d($sidebar-width, $title-bar-height, 0);
}

#titlebar,
#nav,
#overlay,
#mask,
main {
    @extend %translate3d-hack;
}

#titlebar,
#nav,
main {
    z-index: 2;
}

#overlay {
    z-index: 9;
}

#mask {
    z-index: 0;

    &:after {
        z-index: 1;
    }
}
