// scss-lint:disable Compass::PropertyWithMixin
//
// MAIN COMPONENTS
//
html {
    @extend %full-height;
    font-size: unquote($root-font-scale + '%');
    line-height: 1.5em; // vertical-rhythm; http://webtypography.net/2.2.2
}

body {
    @extend %no-user-select;
    @extend %no-margin;
    @extend %no-padding;
    @extend %overflow-hidden;
}

#nav,
main {
    height: calc(100% - #{$titlebar-height});
}

#nav {
    @extend %full-height;
    width: $nav-width;
    padding: to-rem(35) to-rem(20) to-rem(20);
    transform: translate3d(0, $titlebar-height, 0);
    border-right: 1px solid;
}

main {
    @extend %overflow-auto;
    @extend %full-height;
    width: $main-width;
    transform: translate3d($nav-width, $titlebar-height, 0);
}

//
// POSITIONING
//
#titlebar,
#nav,
#overlay,
#mask,
main {
    @extend %translate3d-hack;
}

#mask {
    z-index: 0;

    &:after {
        z-index: 1;
    }
}

#titlebar,
#nav,
main {
    z-index: 2;
}

#loader {
    z-index: 10;
}

#overlay {
    z-index: 9;
}
