// scss-lint:disable Compass::PropertyWithMixin

%hide {
    display: none;
}

%show {
    @extend %block;
}

%flex {
    display: flex;
}

%block {
    display: block;
}

%inline-block {
    display: inline-block;
}

%inline {
    display: inline-block;
}

%visible {
    visibility: visible;
}

%invisible {
    visibility: hidden;
}

%float-left {
    float: left;
}

%float-right {
    float: right;
}

%no-float {
    float: none;
}

%clear-both {
    clear: both;
}

%relative {
    position: relative;
}

%absolute {
    position: absolute;
}

%fixed {
    position: fixed;
}

%static {
    position: static;
}

%auto-margin {
    margin: auto;
}

%center {
    margin-left: auto;
    margin-right: auto;
}

%no-margin {
    margin: 0;
}

%no-padding {
    padding: 0;
}

%full-width {
    width: 100%;
}

%full-height {
    height: 100%;
}

%overflow-hidden {
    overflow: hidden;
}

%disable-scroll {
    @extend %overflow-hidden;
}

%overflow-auto {
    overflow: auto;
}

%white-space-nowrap {
    white-space: nowrap;
}

%text-overflow-ellipsis {
    text-overflow: ellipsis;
}

%talign-center {
    text-align: center;
}

%border-radius-50p {
    border-radius: 50%;
}

%cursor-default {
    cursor: default;
}

%cursor-pointer {
    cursor: pointer;
}

%background-transparent {
    background-color: transparent;
}

%no-user-select {
    // scss-lint:disable VendorPrefix
    -webkit-user-select: none;
    user-select: none;
    // scss-lint:disable VendorPrefix
}

%clearfix {
    // https://www.rachelandrew.co.uk/archives/2017/01/24/the-end-of-the-clearfix-hack/
    &::after,
    &::before {
        @extend %overflow-hidden;
        display: block;
        content: '\0020';
        height: 0;
    }

    &::after {
        clear: both;
    }
}

%no-content {
    content: '';
}

%no-outline {
    outline: 0;
}

%vertical-align {
    @include vertical-align;
}

%lowercase {
    text-transform: lowercase;
}

%uppercase {
    text-transform: uppercase;
}

%unstyled-list {
    margin: 0;
    padding: 0;
}

%translate3d-hack {
    @extend %fixed;
    // pass rendering to a gpu thread (boosts fps)
    // https://benfrain.com/improving-css-performance-fixed-position-elements/
    // http://stackoverflow.com/questions/12969228/chrome-slow-scrolling-with-fixed-position-elements
    // http://stackoverflow.com/questions/17410287/position-fixed-has-a-very-bad-performance-on-mobile-tablet-devices-when-scrol
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
