// scss-lint:disable Compass::PropertyWithMixin
@import '../../../node_modules/normalize.css/normalize';

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
    text-rendering: optimizeLegibility; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering

    &::after,
    &::before,
    * {
        box-sizing: inherit;
    }
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: $font-family;
}

b,
strong {
    font-family: $font-family-bold;
    font-weight: 400;
}
