// scss-lint:disable Compass::PropertyWithMixin
// bof: https://necolas.github.io/normalize.css/
@import 'normalize.css/normalize';
// eof: https://necolas.github.io/normalize.css/

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
    text-rendering: optimizeLegibility; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering

    &::after,
    &::before,
    * {
        box-sizing: inherit;
    }
}
