// https://dribbble.com/shots/2108401-Improved-Spotify-Green
// https://davidwalsh.name/sass-color-variables-dont-suck
// http://chir.ag/projects/name-that-color/
// https://webgradients.com/
// http://encycolorpedia.com/81b71a
//
// PALETTE
//
$color-pistachio: #84bd00; // spotify-like
$color-mountain-meadow: #23cf5f; // spotify-like (improved)
$color-black: #000;
$color-cod-gray: #151515;
$color-mine-shaft: #252525;
$color-tundora: #444;
$color-emperor: #555;
$color-dove-gray: #666;
$color-gray: #818181;
$color-white: #fff;
//
// MID-RANGE COLORS
//
$color-010: lighten($color-black, .5%); // #010101
$color-090: darken($color-cod-gray, 4.9%); // #090909
$color-111: darken($color-cod-gray, 1.5%); // #111
$color-131: darken($color-cod-gray, .9%); // #131313
$color-141: darken($color-cod-gray, .5%); // #141414
$color-181: lighten($color-cod-gray, 1%); // #181818;
$color-191: lighten($color-cod-gray, 1.5%); // #191919;
$color-222: darken($color-mine-shaft, 1.75%); // #222
$color-333: lighten($color-mine-shaft, 5.5%); // #333

.color-tester {
    // color: ;
}

//
// APP
//
$hover-color: $color-pistachio !default;
$root-font-scale: 100 !default; // 100% = cross-browser 16px; http://pxtoem.com/
$root-font-size: 16 * $root-font-scale / 100 !default;
$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;
$font-family-bold: 'Montserrat-Medium' !default;
$logo-path: '../images/logo.png' !default;
$titlebar-height: to-rem(40) !default;
$loader-dim: to-rem(112) !default;
$nav-width: to-rem(300) !default;
$main-width: calc(100% - #{$nav-width}) !default;
$search-line-height: to-rem(34) !default;
$thumbnail-size: to-rem(135) !default;
$large-thumbnail-size: to-rem(195) !default;
$thumbnail-no-artwork-path: '../images/ic_album_black_48px.svg' !default;
$playing-thumbnail-size: to-rem(260) !default;
