// scss-lint:disable Compass::PropertyWithMixin
//
// COMPONENT
//
@include component('btn') {
    //
    @include pseudo('disabled') {
        color: $color-333;
    }
}
//
// MODIFIERS
//
@include component ('btn') {
    //
    @include modifier ('nav') {
        color: $color-emperor;

        @include pseudo ('hover') {
            @include pseudo('enabled') {
                color: $color-pistachio;
            }
        }
    }

    @include state ('active') {
        color: $color-pistachio;
    }
}
