// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable MergeableSelector
//
// COMPONENT
//
@include component ('item') {
    //
    @include pseudo ('hover') {
        background-color: $color-191;
    }

    @include scope ('.item:hover') {
        //
        @include component ('item') {
            //
            @include element ('title') {
                color: $color-pistachio;
            }
        }
    }

    @include scope ('.item--no-artwork:hover') {
        //
        @include component ('item') {
            //
            @include element ('thumbnail') {
                background-color: $color-171;
            }
        }
    }

    @include scope ('.item.is-active') {
        //
        background-color: $color-cod-gray;
        border-bottom-color: $color-mine-shaft;

        @include component ('item') {
            //
            @include element ('thumbnail') {
                background-color: $color-dove-gray;
            }
        }
    }

    @include scope ('.item.is-active.item--no-artwork') {
        //
        @include component ('item') {
            //
            @include element ('thumbnail') {
                background-color: $color-cod-gray;
            }
        }
    }
}
//
// ELEMENTS
//
@include component ('item') {
    //
    @include element ('thumbnail') {
        background-color: $color-111;
    }
    //
    @include element ('meta') {
        //
    }
    //
    @include element ('creator') {
        color: $color-tundora;
    }
    //
    @include element ('title') {
        color: $color-gray;
    }
    //
    @include element ('tag') {
        background-color: $color-black;
        color: $color-white;
    }
}
