// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable MergeableSelector
//
// NORMALIZE
//
i,
span {
    &.btn {
        @extend %inline-block;
    }
}

i.btn {
    font-style: normal;
}

//
// STYLES
//

%clear-btn {
    @extend %background-transparent;
    border-width: 0;
}

.btn {
    @extend %no-outline;
    @extend %cursor-pointer;
    transition: color .2s;

    .icon {
        font-size: to-rem(24);
    }
}

.btn--nav {
    @extend %clear-btn;
    @extend %full-width;
    @extend %uppercase;
    line-height: to-rem(32);
    text-align: left;

    .icon {
        vertical-align: top;
        // line-height: inherit;

        ~ span {
            padding-left: to-rem(8);
        }
    }
}

.btn--nav.btn--solo-icon {
    width: auto;
    padding-left: 0;
    padding-right: 0;

    .icon {
        @extend %block;
    }
}
