// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable MergeableSelector
//
// NORMALIZE
//
i,
span {
    &.btn {
        @extend %inline-block;
    }
}

i.btn {
    font-style: normal;
}
//
// PRESETS
//
%btn--clear {
    @extend %background-transparent;
    border-width: 0;
}
//
// COMPONENT
//
@include component ('btn') {
    @extend %no-outline;
    @extend %cursor-pointer;
    transition: color .2s;
}
//
// ELEMENTS
//
@include component ('btn') {
    //
    @include element ('icon') {
        font-size: to-rem(24);
    }
}
//
// MODIFIERS
//
@include component ('btn') {
    //
    @include modifier ('nav') {
        @extend %btn--clear;
        @extend %full-width;
        @extend %uppercase;
        line-height: to-rem(32);
        text-align: left;

        @include scope ('.btn--nav') {
            //
            .icon {
                vertical-align: top;

                ~ span {
                    padding-left: to-rem(8);
                }
            }
        }

        @include scope ('.btn--nav.btn--solo-icon') {
            //
            width: auto;
            padding-left: 0;
            padding-right: 0;

            .icon {
                @extend %block;
            }
        }
    }
}
