// scss-lint:disable Compass::PropertyWithMixin
//
// COMPONENT
//
@include component ('item') {
    @extend %pointer;
    @extend %clearfix;
    @extend %uppercase;
    padding-right: to-rem(35);
    transition: padding .5s, background-color .5s;

    @include scope ('.item:hover') {
        //
        .item__meta {
            margin-top: to-rem(10);
        }
    }

    @include scope ('.item--no-artwork') {
        //
        @include pseudo ('hover') {
            .item__icon {
                opacity: .5;
            }
        }

        @include component ('item') {
            //
            @include element ('thumbnail') {
                image-rendering: auto;
            }

            @include element ('icon') {
                @extend %block;
                @extend %center;
                @extend %vertical-align;
                $dim: to-rem(70);
                @include dim($dim);
                background-size: $dim $dim;
                background-image: url($no-artwork-path);
                opacity: .45;
            }
        }
    }

    @include state ('active') {
        padding-top: to-rem(10);
        padding-bottom: to-rem(10);
        padding-left: to-rem(10);
        border-bottom: to-rem(1) solid;
        border-right: 4px solid $color-pistachio;
    }

    @include scope ('.item.is-active') {
        //
        @include pseudo ('hover') {
            .item__meta {
                margin-top: 0;
            }
        }

        @include component ('item') {
            //
            @include element ('thumbnail') {
                @extend %relative;
                background-blend-mode: multiply;
            }

            @include element ('meta') {
                margin-top: 0;
            }
        }
    }
}
//
// ELEMENTS
//
@include component ('item') {
    //
    @include element ('thumbnail') {
        @extend %float-left;
        @include dim($thumbnail-size);
        margin-right: to-rem(20);
        text-decoration: none;
        background-size: cover;
        transition: background-color .2s, background-blend-mode .2s;
        image-rendering: -webkit-optimize-contrast;
    }

    @include element ('meta') {
        @extend %unstyled-list;
        @extend %overflow-hidden; // prevents content wrap-around
        list-style-type: none;
        transition: margin-top .1s;
    }

    @include element ('truncated') {
        font-size: 0;
    }

    @include element ('tag') {
        @extend %white-space-nowrap;
        @extend %overflow-hidden;
        @extend %text-overflow-ellipsis;
        @extend %absolute;
        right: 0;
        top: to-rem(7);
        padding-left: to-rem(5);
        padding-right: to-rem(5);
        padding-top: to-rem(2);
        padding-bottom: to-rem(2);
        border-radius: to-rem(2) 0 0 to-rem(2);
        max-width: 70%;
    }
}
