// scss-lint:disable Compass::PropertyWithMixin

.list {
    margin-left: to-rem(25);
    margin-right: to-rem(20);
    padding-top: to-rem(35);
    padding-bottom: to-rem(35);
}

.no-results {
    .item {
        @extend %cursor-default;
        @extend %talign-center;

        &:hover {
            @extend %background-transparent;
        }
    }
}
