// https://connoratherton.com/loaders
// http://projects.lukehaas.me/css-loaders/
// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable MergeableSelector
// scss-lint:disable Indentation

%loader-layout {
    @extend %fixed;
    @include dim($global-loader-size);
    $calc-value: unquote("50% - #{$global-loader-size / 2}");
    top: calc(#{$calc-value});
    left: calc(#{$calc-value});
    z-index: 99;
}

#loader {
    @extend %loader-layout;
}

#loader {
    border-radius: 50%;
    border-width: to-rem(2);
    border-style: solid;
    border-top: 2px solid;

    &.spin {
        animation: spin 1.5s infinite linear;
    }
    //
    @at-root {
         @keyframes spin{
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}
