/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable MergeableSelector */

// block
.playing {
    @extend %hidden;
    @extend %cursor-default;
    margin-top: to-rem(10);
}

// elements
.playing {
    //
    &__header {
        @extend .component__header;
    }

    &__thumbnail {
        @include dim($playing-thumbnail-size);
        border-radius: to-rem(2);
        background-size: cover;
    }

    &__description {
        @extend %center;
        text-align: center;
        width: 70%;
    }

    &__artist {
        font-size: to-rem(12);

        &:not(:empty) {
            padding-top: to-rem(10);
        }

        &:empty {
            + .playing__title {
                padding-top: to-rem(10);
            }
        }
    }

    &__title {
        font-size: to-rem(13);

        &:not(:empty) {
            padding-top: to-rem(10);
        }
    }
}

// modifiers
.playing {
    &--no-artcover {
        .playing__thumbnail {
            border-radius: 0;
            background-image: url($thumbnail-no-artwork-path);
        }
    }
}
