// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable MergeableSelector
//
// BLOCK
//
.playing {
    @extend %cursor-default;
    margin-top: to-rem(10);
}
//
// ELEMENTS
//
.playing {
    //
    &__header {
        @extend .component__header;
    }

    &__thumbnail {
        @include dim($playing-thumbnail-size);
        border-radius: to-rem(2);
        background-size: cover;
    }

    &__description {
        @extend %center;
        @extend %talign-center;
        width: 70%;
    }

    &__artist {
        font-size: to-rem(12);

        &:not(:empty) {
            padding-top: to-rem(10);
        }

        &:empty {
            + .playing__title {
                padding-top: to-rem(10);
            }
        }
    }

    &__title {
        font-size: to-rem(13);

        &:not(:empty) {
            padding-top: to-rem(10);
        }
    }
}
//
// MODIFIERS
//
.playing {
    &--no-artcover {
        .playing__thumbnail {
            border-radius: 0;
            background-image: url($no-artwork-path);
        }
    }
}
