// scss-lint:disable Compass::PropertyWithMixin
//
// COMPONENT
//
@include component ('playing') {
    @extend %cursor-default;
    margin-top: to-rem(10);
}
//
// ELEMENTS
//
@include component ('playing') {
    //
    @include element ('header') {
        @extend .component__header;
    }

    @include element ('thumbnail') {
        @include dim($playing-thumbnail-size);
        border-radius: to-rem(2);
        background-size: cover;
    }

    @include element ('description') {
        @extend %center;
        @extend %talign-center;
        width: 70%;
    }

    @include element ('title') {
        font-size: to-rem(13);

        &:not(:empty) {
            padding-top: to-rem(10);
        }
    }

    @include element ('artist') {
        font-size: to-rem(12);

        &:not(:empty) {
            padding-top: to-rem(10);
        }
    }
}
//
// SCOPES
//
.playing--no-artcover {
    //
    @include component ('playing') {
        //
        @include element ('thumbnail') {
            background-image: url($no-artwork-path);
            border-radius: 0;
        }
    }
}
