// scss-lint:disable Compass::PropertyWithMixin

#search {
    @extend %full-width;
    @extend %block;
    @extend %no-outline;
    line-height: $search-line-height;
    padding-left: to-rem(15);
    padding-right: to-rem(15);
    margin-bottom: to-rem(20);
    border-radius: to-rem(30);
    border-width: 0;
}

::-webkit-input-placeholder {
    //
}
