doctype html
html(lang="en")
    head
        title= "Litecloud"
        meta(charset="utf-8")
        link(rel="stylesheet" href="assets/css/styles.css")
    body(id="body" class="body show-loader theme-dark")
        nav(id="title-bar")
            div(id="logo" src="assets/images/logo.png")
            div#title Litecloud
            div#title-bar-btns
                button(id="minimize" class="btn btn--title-bar")
                button(id="maximize" class="btn btn--title-bar")
                button(id="terminate" class="btn btn--title-bar close rounded")
        nav(id="nav" class="nav nav--main")
            input(id="search" name="search" type="text" placeholder="...")
            button(class="btn btn--nav" data-action="repeat")
                i(class="icon material-icons") repeat
                span &nbsp;repeat
            button(class="btn btn--nav" data-action="shuffle")
                i(class="icon material-icons") shuffle
                span &nbsp;shuffle
            button(class="btn btn--nav" data-modifier="show-grid-view" data-toggle="show-grid-view" data-dismiss="true")
                i(class="icon material-icons") view_module
                span &nbsp;grid view
            button(class="btn btn--nav hidden" data-modifier="show-grid-view" data-toggle="show-grid-view" data-dismiss="true")
                i(class="icon material-icons") view_headline
                span &nbsp;list view
            button(class="btn btn--nav" data-action="autoplay")
                i(class="icon material-icons") autorenew
                span &nbsp;autoplay
            div(id="playing" class="playing")
                h2(class="component__header") playing now
                div(id="playing-thumbnail" class="playing__thumbnail")
                div(id="playing-description" class="playing__description")
                    div(id="playing-title" class="playing__title")
                    div(id="playing-artist" class="playing__artist")
            div(id="player" class="hidden")
                audio(id="audio" type='audio/mpeg' controls='')
                progress(id="progress" min='0', max='100')
                nav(class="nav nav--player")
                    i(id="player-previous" class="btn btn--player material-icons") skip_previous
                    i(id="player-playPause" class="btn btn--player material-icons") play_arrow
                    i(id="player-next" class="btn btn--player material-icons") skip_next
        main(id="main")
            section(id="list" class="list")
        div(class="init-loader loader--global")
            div(class="inner one")
            div(class="inner two")
            div(class="inner three")
        div(id="overlay")
        div(id="mask")
        script(src="assets/js/script.js")
        script(src="assets/js/vendor/jquery.$$.min.js")
        script(src="assets/js/vendor/jquery.ba-throttle-debounce.min.js")
        script(src="assets/js/vendor/soundcloud/sdk-3.1.2.js")
        script(src="assets/js/jquery-extensions.js")
        script(src="assets/js/mockup.js")
        script.
            require('./renderer.js')
