// scss-lint:disable Compass::PropertyWithMixin
//
// MODIFIERS
//
@include component ('btn') {
    //
    @include modifier ('nav') {
        color: $color-emperor;

        @include pseudo ('hover') {
            color: $color-pistachio;
        }
    }

    @include state ('active') {
        color: $color-pistachio;
    }
}
