// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable MergeableSelector
//
// BLOCK
//
.item {
    &:hover {
        background-color: $color-191;

        .item__title {
            color: $color-pistachio;
        }
    }
}
//
// ELEMENTS
//
.item {
    &__thumbnail {
        background-color: $color-111;
    }

    &__data {
        text-shadow: 0 #{to-rem(1)} #{to-rem(2)} $color-black;
    }

    &__meta {
        color: $color-tundora;
    }

    &__title {
        color: $color-gray;
    }

    &__tag {
        color: $color-white;
        background-color: $color-black;
    }
}
//
// SCOPES
//
.item--no-artwork:hover {
    //
    @include block ('item') {
        //
        @include element ('thumbnail') {
            background-color: $color-171;
        }
    }
}

.item.is-active {
    background-color: $color-cod-gray;
    border-bottom-color: $color-mine-shaft;

    @include block ('item') {
        //
        @include element ('thumbnail') {
            background-color: $color-dove-gray;
        }
    }
}

.item.is-active.item--no-artwork {
    //
    @include block ('item') {
        //
        @include element ('thumbnail') {
            background-color: $color-cod-gray;
        }
    }
}
