// scss-lint:disable Compass::PropertyWithMixin

progress {
    box-shadow: inset 0 -#{to-rem(1)} #{to-rem(1)} $color-tundora;

    &::-webkit-progress {
        &-value {
            background: linear-gradient(to top, $color-black 10%, $color-pistachio 100%);
        }

        &-bar {
            // scss-lint:disable ColorVariable
            background-color: rgba(0, 0, 0, .5);
            // scss-lint:enable ColorVariable
        }
    }
}

.btn--player {
    color: $color-emperor;
    text-shadow: 0 #{to-rem(1)} #{to-rem(1)} $color-gray;

    @include pseudo ('hover') {
        color: $color-pistachio;
    }
}
