// scss-lint:disable Compass::PropertyWithMixin

#titlebar {
    box-shadow: inset 0 -#{to-rem(1)} 0 $color-090;
    background-color: $color-cod-gray;
}

#logo {
    background-blend-mode: multiply;
    background-color: $color-white;
}

#title {
    color: $color-emperor;
}

#minimize {
    @include pseudo ('before') {
        background-color: $color-emperor;
    }

    @include pseudo('hover') {
        @include pseudo ('before') {
            background-color: $hover-color;
        }
    }
}

#maximize {
    border-color: $color-emperor;

    @include pseudo('hover') {
        border-color: $hover-color;
        //
        &.is-active {
            background-color: $hover-color;
        }
    }
}

#terminate {
    @include close(to-rem(20), to-rem(20), $color-emperor, $hover-color);
}
