// scss-lint:disable Compass::PropertyWithMixin
// http://htmlarrows.com/
// http://graphicdesign.stackexchange.com/questions/30072/what-is-the-font-used-in-the-new-spotify-interface-looking-for-an-alternative-f
// https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat
// https://dev.w3.org/html5/html-author/charref
//
// MATERIAL DESIGN ICONS
//
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';
//
// MONTSERRAT
//
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url('../fonts/Montserrat/Montserrat-Mediumitalic.ttf');
    font-weight: 300;
    font-style: normal;
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: $font-family;
}

b,
strong {
    font-family: $font-family-bold;
    font-weight: 400;
}
