// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable ColorKeyword
// scss-lint:disable ColorVariable
button {
    &:not(.btn) {
        @extend %cursor-pointer;
    }
}

i,
span {
    &.btn {
        @extend %display-inline-block;
    }
}

%clear-btn {
    background-color: transparent;
    border-width: 0;
}

.btn {
    @extend %cursor-pointer;
    @extend %uppercase;
    @extend %no-outline;
    font-style: normal;
    transition: color .2s;

    &--clear {
        @extend %clear-btn;
    }

    &--title-bar {
        background-color: transparent;
        border-width: 0;
        vertical-align: top;
        margin-left: 5px;
    }

    &--player {
        @extend %clear-btn;
        @extend %no-outline;
        font-size: to-rem(45);
        vertical-align: middle;
        text-shadow: 0 1px 1px #818181;
    }

    &--nav {
        @extend %clear-btn;
        @extend %full-width;
        line-height: 2rem;
        text-align: left;

        .icon {
            vertical-align: top;
            padding-right: 5px;
        }
    }
}
