// scss-lint:disable Compass::PropertyWithMixin

// normalize
i,
span {
    &.btn {
        @extend %inline-block;
    }
}

%clear-btn {
    background-color: transparent;
    border-width: 0;
}

.btn {
    @extend %cursor-pointer;
    @extend %no-outline;
    font-style: normal;
    transition: color .2s;

    .icon {
        font-size: to-rem(24);
    }
}

.btn--nav {
    @extend %clear-btn;
    @extend %full-width;
    @extend %uppercase;
    line-height: to-rem(32);
    text-align: left;

    .icon {
        vertical-align: top;
        padding-right: to-rem(5);
    }
}
