// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable Indentation
// scss-lint:disable PropertySpelling
//
// COMPONENT
//
@include component ('list') {
    @extend %grid;
    grid-row-gap: to-rem(35);
    margin-left: to-rem(25);
    margin-right: to-rem(20);
    padding-top: to-rem(35);
    padding-bottom: to-rem(35);
    //
    @include state(results, no) {
         @extend %cursor-default;
        @extend %talign-center;
        @extend %uppercase;
        @extend %block;
        margin-right: to-rem(25);
    }
}
