// scss-lint:disable Compass::PropertyWithMixin
// scss-lint:disable MergeableSelector
// scss-lint:disable Indentation
// http://projects.lukehaas.me/css-loaders/
// https://connoratherton.com/loaders
// https://codepen.io/junglelin/pen/epGNxJ
// https://codepen.io/collection/HtAne/28/

%loader-layout {
    @extend %fixed;
    @include dim($loader-dim);
    $calc: unquote('calc(50% - #{$loader-dim / 2})');
    top: $calc;
    left: $calc;
}

#loader {
    @extend %loader-layout;
}

.loader-is-active {
    animation: spin $loader-animation-duration infinite linear;
}

#loader {
    border-radius: 50%;
    border: to-rem(2) solid;

    &.is-active {
        @extend .loader-is-active;
    }
    //
    @at-root {
         @keyframes spin{
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}
