/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorKeyword */
/* scss-lint:disable ColorVariable */

.playing {
    @extend %hidden;
    cursor: default;

    &--no-artcover {
        .playing__thumbnail {
            border-radius: 0;
            background-image: url('../images/ic_album_black_48px.svg');
        }
    }

    &__thumbnail {
        margin-top: to-rem(10);
        border-radius: to-rem(2);
        width: $playing-thumbnail-size;
        height: $playing-thumbnail-size;
        background-size: cover;
    }

    &__description {
        @extend %auto-horizontal-margin;
        text-align: center;
        width: 70%;
    }

    &__artist {
        &:not(:empty) {
            padding-top: to-rem(10);
            font-size: to-rem(12);
        }

        &:empty {
            + .playing__title {
                padding-top: to-rem(10);
            }
        }
    }

    &__title {
        &:not(:empty) {
            font-size: to-rem(13);
            padding-top: to-rem(10);
        }
    }
}
