// scss-lint:disable Compass::PropertyWithMixin

#search {
    @extend %full-width;
    @extend %display-block;
    @extend %no-outline;
    padding-left: to-rem(15);
    padding-right: to-rem(15);
    border-width: 0;
    border-radius: to-rem(30);
    line-height: $search-line-height;
    margin-bottom: to-rem(20);
}

::-webkit-input-placeholder {
    //
}
