// scss-lint:disable Compass::PropertyWithMixin

#search {
    background-color: $color-090;
    color: $color-white;
    box-shadow: inset 0 -#{to-rem(1)} #{to-rem(1)} $color-222;

    ::-webkit-input-placeholder {
        color: $color-emperor;
    }
}
