// scss-lint:disable Compass::PropertyWithMixin

#titlebar {
    box-shadow: inset 0 -1px 0 $color-090;
    background-color: $color-cod-gray;
}

#logo {
    background-blend-mode: multiply;
    background-color: $color-white; // serves as a placeholder while logo loads
    // background-color: $color-090; // serves as a placeholder while logo loads
}

#title {
    color: $color-emperor;
}

#minimize {
    &::before {
        background-color: $color-emperor;
    }

    &:hover {
        &::before {
            background-color: $hover-color;
        }
    }
}

#maximize {
    border-color: $color-emperor;

    &:hover {
        border-color: $hover-color;
    }
}

#terminate {
    @include close(to-rem(20), to-rem(20), $color-emperor, $hover-color);
}
