// scss-lint:disable Compass::PropertyWithMixin

.btn--nav {
    color: $color-emperor;

    &:hover {
        color: $color-pistachio;
    }
}

.btn--selected {
    color: $color-pistachio;
}

.btn--player {
    color: $color-emperor;
    text-shadow: 0 #{to-rem(1)} #{to-rem(1)} $color-gray;

    &:hover {
        color: $color-pistachio;
    }
}
