// scss-lint:disable Compass::PropertyWithMixin

#main {
    background-color: darken($color-cod-gray, .9%);
}

#nav {
    border-right-color: lighten($color-black, .5%);
    box-shadow: inset -#{to-rem(1)} 0 0 darken($color-cod-gray, .5%);
}
