@import url(../../../node_modules/material-design-icons/iconfont/material-icons.css);
/* line 3, ../../src/sass/_placeholders.scss */
#loader,
#player,
#playing,
#overlay,
#mask::after,
.item__tag {
  display: none;
}

/* line 11, ../../src/sass/_placeholders.scss */
#titlebar {
  display: flex;
}

/* line 15, ../../src/sass/_placeholders.scss */
.list {
  display: grid;
}

/* line 19, ../../src/sass/_placeholders.scss */
.show-grid .item__tag, .show-loader #overlay,
.show-loader #loader, .show-mask #mask:after, .show-player #player, .show-playing #playing, .block, .btn--nav.btn--solo-icon .icon, .item--no-artwork .item__icon, progress, #nav-right .btn--solo-icon:before, .show-grid .item__thumbnail {
  display: block;
}

/* line 23, ../../src/sass/_placeholders.scss */
i.btn,
span.btn, .show-grid .item small {
  display: inline-block;
}

/* line 39, ../../src/sass/_placeholders.scss */
.item__thumbnail {
  float: left;
}

/* line 43, ../../src/sass/_placeholders.scss */
.show-grid .item__duration {
  float: right;
}

/* line 47, ../../src/sass/_placeholders.scss */
.show-grid .item__thumbnail {
  float: none;
}

/* line 55, ../../src/sass/_placeholders.scss */
.item.is-active .item__thumbnail, #minimize, .show-grid .item__thumbnail, .show-grid .item__meta {
  position: relative;
}

/* line 59, ../../src/sass/_placeholders.scss */
.item__tag, #minimize:before, .show-grid .item__creator {
  position: absolute;
}

/* line 63, ../../src/sass/_placeholders.scss */
#loader, #mask,
#nav,
#nav-right,
#overlay,
#titlebar,
main {
  position: fixed;
}

/* line 75, ../../src/sass/_placeholders.scss */
.item--no-artwork .item__icon, .playing__description {
  margin-left: auto;
  margin-right: auto;
}

/* line 80, ../../src/sass/_placeholders.scss */
body {
  margin: 0;
}

/* line 84, ../../src/sass/_placeholders.scss */
body {
  padding: 0;
}

/* line 88, ../../src/sass/_placeholders.scss */
.btn--nav, #overlay, progress, #search, #titlebar, .show-grid .item__creator {
  width: 100%;
}

/* line 92, ../../src/sass/_placeholders.scss */
html {
  height: 100%;
}

/* line 96, ../../src/sass/_placeholders.scss */
.show-loader, .clearfix::after, .item::after, .clearfix::before, .item::before, .item__meta, .item__tag, #minimize, body, .show-grid .item__title {
  overflow: hidden;
}

/* line 104, ../../src/sass/_placeholders.scss */
main {
  overflow: auto;
}

/* line 108, ../../src/sass/_placeholders.scss */
.item__tag, .show-grid .item__author {
  white-space: nowrap;
}

/* line 112, ../../src/sass/_placeholders.scss */
.item__tag, .show-grid .item__title, .show-grid .item__author {
  text-overflow: ellipsis;
}

/* line 116, ../../src/sass/_placeholders.scss */
.list.no-results, .nav--player, .playing__description {
  text-align: center;
}

/* line 120, ../../src/sass/_placeholders.scss */
#logo {
  border-radius: 50%;
}

/* line 124, ../../src/sass/_placeholders.scss */
.list.no-results, .playing, #logo, #title {
  cursor: default;
}

/* line 128, ../../src/sass/_placeholders.scss */
.btn, .item, progress {
  cursor: pointer;
}

/* line 132, ../../src/sass/_placeholders.scss */
.btn--nav, .btn--player, .btn--titlebar, .show-grid .item:hover, .show-grid .item.is-active, .list.no-results {
  background-color: transparent;
}

/* line 136, ../../src/sass/_placeholders.scss */
body {
  -webkit-user-select: none;
  user-select: none;
}

/* line 145, ../../src/sass/_placeholders.scss */
.clearfix::after, .item::after, .clearfix::before, .item::before {
  display: block;
  content: '\0020';
  height: 0;
}
/* line 153, ../../src/sass/_placeholders.scss */
.clearfix::after, .item::after {
  clear: both;
}

/* line 158, ../../src/sass/_placeholders.scss */
#mask:after, #minimize:before, #nav-right .btn--solo-icon:before, .show-grid .item small:after {
  content: '';
}

/* line 162, ../../src/sass/_placeholders.scss */
.btn, #search, #minimize {
  outline: 0;
}

/* line 174, ../../src/sass/_placeholders.scss */
.btn--nav, .item, .list.no-results, .component__header, .playing__header {
  text-transform: uppercase;
}

/* line 178, ../../src/sass/_placeholders.scss */
.item__meta {
  margin: 0;
  padding: 0;
}

/* line 183, ../../src/sass/_placeholders.scss */
#mask,
#nav,
#nav-right,
#overlay,
#titlebar,
main {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

/* line 9, ../../src/sass/_utils.scss */
.pull-left {
  float: left;
}

/* line 13, ../../src/sass/_utils.scss */
.pull-right {
  float: right;
}

/* line 17, ../../src/sass/_utils.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
sub {
  bottom: -0.25em;
}

/* line 191, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, C:/projects/litecloud/node_modules/normalize.css/normalize.css */
[hidden] {
  display: none;
}

/* line 6, ../../src/sass/_reset.scss */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* line 11, ../../src/sass/_reset.scss */
html::after, html::before,
html * {
  box-sizing: inherit;
}

/* line 13, ../../src/sass/components/_buttons.scss */
i.btn {
  font-style: normal;
}

/* line 19, ../../src/sass/components/_buttons.scss */
.btn--nav, .btn--player {
  border-width: 0;
}

/* line 35, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.btn {
  transition: color .2s;
}

/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.btn__icon {
  font-size: 1.5rem;
}

/* line 52, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.btn--nav {
  line-height: 2rem;
  text-align: left;
}
/* line 54, ../../src/sass/components/_buttons.scss */
.btn--nav .icon {
  vertical-align: top;
}
/* line 57, ../../src/sass/components/_buttons.scss */
.btn--nav .icon ~ span {
  padding-left: 0.5rem;
}
/* line 14, ../../src/sass/_mixins.scss */
.btn--nav.btn--solo-icon {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

/* line 35, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item {
  padding-right: 2.1875rem;
  transition: padding .5s, background-color .5s;
}
/* line 14, ../../src/sass/components/_item.scss */
.item:hover .item__meta {
  margin-top: 0.625rem;
}
/* line 22, ../../src/sass/components/_item.scss */
.item--no-artwork:hover .item__icon {
  opacity: .5;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item--no-artwork .item__thumbnail {
  image-rendering: auto;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item--no-artwork .item__icon {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  width: 4.375rem;
  height: 4.375rem;
  background-size: 4.375rem 4.375rem;
  background-image: url("../images/ic_album_black_48px.svg");
  opacity: .45;
}
/* line 62, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item.is-active {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
  border-bottom: 0.0625rem solid;
}
/* line 56, ../../src/sass/components/_item.scss */
.item.is-active:hover .item__meta {
  margin-top: 0;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item.is-active .item__thumbnail {
  background-blend-mode: multiply;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item.is-active .item__meta {
  margin-top: 0;
}

/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item__thumbnail {
  width: 8.4375rem;
  height: 8.4375rem;
  margin-right: 1.25rem;
  text-decoration: none;
  background-size: cover;
  transition: background-color .2s, background-blend-mode .2s;
  image-rendering: -webkit-optimize-contrast;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item__meta {
  list-style-type: none;
  transition: margin-top .1s;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item__truncated {
  font-size: 0;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item__tag {
  right: 0;
  top: 0.4375rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 0.125rem 0 0 0.125rem;
  max-width: 70%;
}

/* line 35, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.list {
  grid-row-gap: 2.1875rem;
  margin-left: 1.5625rem;
  margin-right: 1.25rem;
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}
/* line 62, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.list.no-results {
  margin-right: 1.5625rem;
}

/* line 9, ../../src/sass/components/_loader.scss */
#loader {
  width: 7rem;
  height: 7rem;
  top: calc(50% - 3.5rem);
  left: calc(50% - 3.5rem);
}

/* line 21, ../../src/sass/components/_loader.scss */
#loader {
  border-radius: 50%;
  border: 0.125rem solid;
}
/* line 25, ../../src/sass/components/_loader.scss */
#loader.is-active, .show-loader #loader {
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 3, ../../src/sass/components/_mask.scss */
#mask {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-blend-mode: color;
}
/* line 30, ../../src/sass/_mixins.scss */
#mask:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: inherit;
  backface-visibility: inherit;
  transform: inherit;
  opacity: .85;
}

/* line 1, ../../src/sass/components/_overlay.scss */
#overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 4, ../../src/sass/components/_player.scss */
#player {
  margin-top: 1rem;
}

/* line 8, ../../src/sass/components/_player.scss */
progress {
  border-radius: 0.125rem;
  height: 0.375rem;
  -webkit-appearance: none;
  appearance: none;
}
/* line 19, ../../src/sass/components/_player.scss */
progress::-webkit-progress-bar {
  border-radius: 0.125rem;
  transition: width .2s;
}
/* line 24, ../../src/sass/components/_player.scss */
progress::-webkit-progress-value {
  border-radius: 0.125rem;
}

/* line 30, ../../src/sass/components/_player.scss */
.nav--player {
  margin-top: 0.625rem;
}

/* line 35, ../../src/sass/components/_player.scss */
.btn--player {
  font-size: 2.8125rem;
}

/* line 35, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.playing {
  margin-top: 0.625rem;
}
/* line 11, ../../src/sass/components/_playing.scss */
.playing--no-artwork .playing__thumbnail {
  background-image: url("../images/ic_album_black_48px.svg");
  border-radius: 0;
}

/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.playing__thumbnail {
  width: 16.25rem;
  height: 16.25rem;
  border-radius: 0.125rem;
  background-size: cover;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.playing__description {
  width: 70%;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.playing__title {
  font-size: 0.8125rem;
}
/* line 41, ../../src/sass/components/_playing.scss */
.playing__title:not(:empty) {
  padding-top: 0.625rem;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.playing__artist {
  font-size: 0.75rem;
}
/* line 49, ../../src/sass/components/_playing.scss */
.playing__artist:not(:empty) {
  padding-top: 0.625rem;
}

/* line 3, ../../src/sass/components/_scrollbar.scss */
::-webkit-scrollbar {
  width: 0.4375rem;
}
/* line 6, ../../src/sass/components/_scrollbar.scss */
::-webkit-scrollbar-thumb {
  border-radius: 1.5625rem;
}

/* line 3, ../../src/sass/components/_search.scss */
#search {
  line-height: 2.125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-bottom: 1.25rem;
  border-radius: 1.875rem;
  border-width: 0;
}

/* line 3, ../../src/sass/components/_titlebar.scss */
#titlebar {
  height: 2.5rem;
  padding-top: 0.625rem;
}

/* line 10, ../../src/sass/components/_titlebar.scss */
#logo {
  background-image: url("../images/logo.png");
  margin-left: 0.625rem;
  background-size: cover;
  vertical-align: top;
  height: 1.25rem;
  width: 1.25rem;
}

/* line 21, ../../src/sass/components/_titlebar.scss */
#title {
  padding-left: 0.625rem;
  font-size: 0.75rem;
}

/* line 27, ../../src/sass/components/_titlebar.scss */
#minimize {
  width: 1.25rem;
  height: 1.25rem;
}
/* line 30, ../../src/sass/_mixins.scss */
#minimize:before {
  width: calc(100% - 0.125rem);
  margin-bottom: 0.1875rem;
  border-radius: 0.3125rem;
  height: 0.125rem;
  bottom: 0;
  left: 0;
}

/* line 45, ../../src/sass/components/_titlebar.scss */
#maximize {
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid;
  margin-top: 0.125rem;
  border-radius: 50%;
}

/* line 56, ../../src/sass/components/_titlebar.scss */
#titlebar-btns {
  margin-left: auto;
  margin-right: 0.625rem;
}

/* line 61, ../../src/sass/components/_titlebar.scss */
.btn--titlebar {
  vertical-align: top;
  margin-left: 5px;
  border-width: 0;
}

/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.component__header, .playing__header {
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
}

/* line 5, ../../src/sass/_layout.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 18, ../../src/sass/_layout.scss */
#nav,
#nav-right,
main {
  height: calc(100% - 2.5rem);
}

/* line 24, ../../src/sass/_layout.scss */
#nav {
  width: 18.75rem;
  padding: 2.1875rem 1.25rem 1.25rem;
  transform: translate3d(0, 2.5rem, 0);
  border-right: 0.0625rem solid;
}

/* line 31, ../../src/sass/_layout.scss */
#nav-right {
  width: 5rem;
  padding: 2.1875rem 1.25rem 1.25rem;
  transform: translateY(2.5rem);
  right: 0;
}
/* line 37, ../../src/sass/_layout.scss */
#nav-right .btn--solo-icon {
  margin-bottom: 0.9375rem;
}
/* line 30, ../../src/sass/_mixins.scss */
#nav-right .btn--solo-icon:before {
  height: 0.0625rem;
  background-color: #181818;
  margin-bottom: 1.25rem;
}

/* line 50, ../../src/sass/_layout.scss */
main {
  width: calc(100% - 23.75rem);
  transform: translate3d(18.75rem, 2.5rem, 0);
  overflow-x: hidden;
}

/* line 70, ../../src/sass/_layout.scss */
#mask {
  z-index: 0;
}
/* line 30, ../../src/sass/_mixins.scss */
#mask:after {
  z-index: 1;
}

/* line 78, ../../src/sass/_layout.scss */
#nav,
#nav-right,
#titlebar,
main {
  z-index: 2;
}

/* line 85, ../../src/sass/_layout.scss */
#overlay {
  z-index: 3;
}

/* line 89, ../../src/sass/_layout.scss */
#loader {
  z-index: 4;
}

/* line 2, ../../src/sass/states/_animate-mask.scss */
.animate-mask #mask {
  transition: background-image .8s;
}

/* line 62, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .list.has-results {
  grid-template-columns: repeat(auto-fill, minmax(12.1875rem, 1fr));
  grid-column-gap: 1.875rem;
  justify-content: space-between;
  margin-top: 2.1875rem;
  margin-left: 1.25rem;
  padding-top: 0;
}
/* line 35, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item {
  text-transform: capitalize;
  width: 12.1875rem;
  line-height: 1rem;
  font-size: 0.875rem;
  padding-right: 0;
  padding-left: 0;
  transition: none;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item:hover .item__thumbnail {
  background-blend-mode: screen;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item:hover .item__meta {
  margin-top: 0;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item--no-artwork .item__thumbnail {
  width: inherit;
  height: 12.1875rem;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item--no-artwork .item__icon {
  width: 6.25rem;
  height: 6.25rem;
  background-size: 6.25rem 6.25rem;
}
/* line 62, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item.is-active {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}
/* line 90, ../../src/sass/states/_show-grid.scss */
.show-grid .item.is-active .item__thumbnail {
  background-blend-mode: multiply;
}
/* line 30, ../../src/sass/_mixins.scss */
.show-grid .item.is-active .item__thumbnail:after {
  line-height: 12.1875rem;
  font-size: 1rem;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item__thumbnail {
  height: 12.1875rem;
  width: inherit;
  margin-right: 0;
  border-radius: 0.125rem;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item__meta {
  overflow: visible;
  height: 5.625rem;
  padding-top: 0.9375rem;
  transition: none;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item__author {
  width: 6.25rem;
  font-size: 0.75rem;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.show-grid .item__creator {
  bottom: 0;
}

/* line 4, ../../src/sass/states/_show-mask.scss */
.show-mask #mask {
  -webkit-filter: blur(3.125rem);
}

/* line 16, ../../src/sass/themes/default-theme/_typography.scss */
.material-icons {
  font-size: 1.5rem;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url("../fonts/Montserrat/Montserrat-Mediumitalic.ttf");
  font-weight: 300;
  font-style: normal;
}
/* line 41, ../../src/sass/themes/default-theme/_typography.scss */
body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

/* line 50, ../../src/sass/themes/default-theme/_typography.scss */
b,
strong {
  font-family: "Montserrat-Medium", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 400;
}

/* line 3, ../../src/sass/themes/default-theme/_layout.scss */
main {
  background-color: #131313;
}

/* line 7, ../../src/sass/themes/default-theme/_layout.scss */
#nav {
  border-right-color: #010101;
  box-shadow: inset -0.0625rem 0 0 #141414;
}

/* line 2, ../../src/sass/themes/default-theme/_component.scss */
.component__header, .playing__header {
  color: #555;
}

/* line 1, ../../src/sass/themes/default-theme/_scrollbar.scss */
::-webkit-scrollbar-thumb {
  background-color: #191919;
}

/* line 30, ../../src/sass/_mixins.scss */
.btn:disabled {
  color: #333333;
}

/* line 52, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.btn--nav {
  color: #555;
}
/* line 30, ../../src/sass/_mixins.scss */
.btn--nav:hover:enabled {
  color: #84bd00;
}
/* line 62, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.btn.is-active {
  color: #84bd00;
}

/* line 3, ../../src/sass/themes/default-theme/_titlebar.scss */
#titlebar {
  box-shadow: inset 0 -0.0625rem 0 #090909;
  background-color: #151515;
}

/* line 8, ../../src/sass/themes/default-theme/_titlebar.scss */
#logo {
  background-blend-mode: multiply;
  background-color: #fff;
}

/* line 13, ../../src/sass/themes/default-theme/_titlebar.scss */
#title {
  color: #555;
}

/* line 30, ../../src/sass/_mixins.scss */
#minimize:before {
  background-color: #555;
}
/* line 30, ../../src/sass/_mixins.scss */
#minimize:hover:before {
  background-color: #84bd00;
}

/* line 29, ../../src/sass/themes/default-theme/_titlebar.scss */
#maximize {
  border-color: #555;
}
/* line 30, ../../src/sass/_mixins.scss */
#maximize:hover {
  border-color: #84bd00;
}

/* line 37, ../../src/sass/themes/default-theme/_titlebar.scss */
#terminate {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  outline: 0;
}
/* line 122, ../../src/sass/_mixins.scss */
#terminate:hover::after, #terminate:hover::before {
  background-color: #84bd00;
}
/* line 128, ../../src/sass/_mixins.scss */
#terminate::after, #terminate::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #555;
}
/* line 140, ../../src/sass/_mixins.scss */
#terminate::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 144, ../../src/sass/_mixins.scss */
#terminate::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 148, ../../src/sass/_mixins.scss */
#terminate.big {
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transform: scale(3);
}
/* line 153, ../../src/sass/_mixins.scss */
#terminate.hairline::after, #terminate.hairline::before {
  height: 1px;
}
/* line 160, ../../src/sass/_mixins.scss */
#terminate.thick::after, #terminate.thick::before {
  height: 4px;
  margin-top: -2px;
}
/* line 168, ../../src/sass/_mixins.scss */
#terminate.black::after, #terminate.black::before {
  height: 8px;
  margin-top: -4px;
}
/* line 176, ../../src/sass/_mixins.scss */
#terminate.heavy::after, #terminate.heavy::before {
  height: 12px;
  margin-top: -6px;
}
/* line 184, ../../src/sass/_mixins.scss */
#terminate.pointy::after, #terminate.pointy::before {
  width: 200%;
  left: -50%;
}
/* line 192, ../../src/sass/_mixins.scss */
#terminate.rounded::after, #terminate.rounded::before {
  border-radius: 5px;
}
/* line 199, ../../src/sass/_mixins.scss */
#terminate.blades::after, #terminate.blades::before {
  border-radius: 5px 0;
}
/* line 206, ../../src/sass/_mixins.scss */
#terminate.warp::after, #terminate.warp::before {
  border-radius: 120% 0;
}
/* line 213, ../../src/sass/_mixins.scss */
#terminate.fat::after, #terminate.fat::before {
  border-radius: 100%;
}

/* line 1, ../../src/sass/themes/default-theme/_loader.scss */
#loader {
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #84bd00;
}

/* line 3, ../../src/sass/themes/default-theme/_search.scss */
#search {
  background-color: #090909;
  color: #fff;
  box-shadow: inset 0 -0.0625rem 0.0625rem #212121;
}
/* line 8, ../../src/sass/themes/default-theme/_search.scss */
#search ::-webkit-input-placeholder {
  color: #555;
}

/* line 3, ../../src/sass/themes/default-theme/_player.scss */
progress {
  box-shadow: inset 0 -0.0625rem 0.0625rem #333333;
}
/* line 7, ../../src/sass/themes/default-theme/_player.scss */
progress::-webkit-progress-value {
  background: linear-gradient(to top, #000000 10%, #84bd00 100%);
}
/* line 11, ../../src/sass/themes/default-theme/_player.scss */
progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 19, ../../src/sass/themes/default-theme/_player.scss */
.btn--player {
  color: #555;
  text-shadow: 0 0.0625rem 0.0625rem #818181;
}
/* line 30, ../../src/sass/_mixins.scss */
.btn--player:hover {
  color: #84bd00;
}

/* line 1, ../../src/sass/themes/default-theme/_list.scss */
.list.no-results {
  color: #555;
}

/* line 30, ../../src/sass/_mixins.scss */
.item:hover {
  background-color: #191919;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item:hover .item__title {
  color: #84bd00;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item--no-artwork:hover .item__thumbnail {
  background-color: #171717;
}
/* line 14, ../../src/sass/_mixins.scss */
.item.is-active {
  background-color: #151515;
  border-bottom-color: #252525;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item.is-active .item__thumbnail {
  background-color: #666;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item.is-active.item--no-artwork .item__thumbnail {
  background-color: #151515;
}

/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item__thumbnail {
  background-color: #111111;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item__creator {
  color: #444;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item__title {
  color: #818181;
}
/* line 43, C:/projects/litecloud/node_modules/bemify/sass/_bemify.scss */
.item__tag {
  background-color: #000;
  color: #fff;
}

/* line 2, ../../src/sass/themes/default-theme/_playing.scss */
.playing__title {
  color: #fff;
}
/* line 6, ../../src/sass/themes/default-theme/_playing.scss */
.playing__artist {
  color: #555;
}

/* line 1, ../../src/sass/themes/default-theme/_overlay.scss */
#overlay {
  background-color: #181818;
}

/* line 1, ../../src/sass/themes/default-theme/_mask.scss */
#mask {
  background-color: #111111;
  background-blend-mode: multiply;
}
/* line 30, ../../src/sass/_mixins.scss */
#mask:after {
  background-color: #000;
}

/* line 3, ../../src/sass/themes/default-theme/states/_show-grid.scss */
.show-grid .item.is-active.item--no-artwork .item__thumbnail {
  background-color: #161616;
}
